body {
color: rgb(73, 6, 155);
background-color: blueviolet;
}

.ContainerApis{
    background-color: rgba(137, 43, 226, 0.767);
    color: rgba(0, 247, 255, 0.788);
    flex-basis: auto;
    flex-wrap: wrap;
    display: flex;
    margin: 20px;
    padding: 20px;
}
button{
    color: rgb(0, 0, 255);
}