#map-container {
    position: relative;
    width: 100%;
    height: 400px;
}

#map {
    width: 100%;
    height: 100%;
}

#search-box {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5;
    width: 300px;
    padding: 10px;
}

#search-button, #toggle-map {
    position: absolute;
    top: 10px;
    z-index: 5;
    padding: 10px;
}

#search-button {
    left: 320px;
}

#toggle-map {
    right: 10px;
}
